In [1]:
import pandas as pd
import numpy as np

In [2]:
"""
case1: df中某列存在序列特征，想要将列中的内容进行合并。
"""
df = pd.DataFrame({
    'sid': ['session1', 'session1', 'session1', 'session2', 'session2'],
    'content': ['A', 'B', 'C', 'D', 'E']
})
df

        sid content
0  session1       A
1  session1       B
2  session1       C
3  session2       D
4  session2       E

In [3]:
# 利用transform
df['target'] = df.groupby(['sid'])['content'].transform(lambda x: '|'.join(x))
df

        sid content target
0  session1       A  A|B|C
1  session1       B  A|B|C
2  session1       C  A|B|C
3  session2       D    D|E
4  session2       E    D|E

In [4]:
# 利用drop_duplicates()去重
res = df[['sid', 'target']].drop_duplicates().reset_index(drop=True)
res

        sid target
0  session1  A|B|C
1  session2    D|E